@import '~antd/dist/antd.css';



.code-box-demo {
  text-align: center;
}

.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  /* background: #7dbcea; */
  background: rgb(45, 48, 49);

}

.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #292a2b;
  height: 100vh;

}

.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: rgb(45, 48, 49);
}



/* 列表 */
.ant-list {
  color: #fff;
}

.ant-list-item {
  padding: 5px 10px 5px 10px;
  margin: 3px;
}

.ant-list-item-meta-title {
  color: #fff;
}

.ant-list-item-action>li {
  color: rgba(255, 255, 255, 0.671);
}

/* 折叠面板 */
.ant-collapse-header {
  color: #fff;
}

.ant-collapse-header {
  color: #fff;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  color: #fff;
}


/* 输入框 */

.ant-input {
  background: #292a2b00;
  color: #fff;
  display: inline;
}

.ant-input-affix-wrapper {
  background: #292a2b;
  border: none;

}


/* 自定义  */

.text {
  color: #fff;
}


.listChoosed {
  background-color: rgba(255, 255, 255, 0.116);
}

.listbox:hover {
  background-color: rgba(255, 255, 255, 0.055);
}

.itembox {
  border-radius: 5px;
  background: rgba(81, 84, 87, 0.548);
  padding: 5px 10px 5px 10px;
  margin: 3px;
}



.InsideBox {
  padding: 20px
}